In [17]:
import numpy as np

In [18]:
a = np.array([[1, 6],
             [2, 8],
             [3, 11],
             [3, 10],
             [1, 7]])

In [19]:
a

array([[ 1,  6],
       [ 2,  8],
       [ 3, 11],
       [ 3, 10],
       [ 1,  7]])

In [20]:
a.shape

(5, 2)

In [21]:
a.mean(axis = 0)

array([2. , 8.4])

In [22]:
mean_a = np.array([2. ,8.4])
mean_a

array([2. , 8.4])

   ### Задание 2

In [25]:
import numpy as np

In [29]:
b = np.array([2. ,8.4])

In [30]:
b

array([2. , 8.4])

In [31]:
b.mean(axis = 0)

5.2

In [33]:
a = np.array([[1, 6],
             [2, 8],
             [3, 11],
             [3, 10],
             [1, 7]])

In [35]:
a

array([[ 1,  6],
       [ 2,  8],
       [ 3, 11],
       [ 3, 10],
       [ 1,  7]])

In [38]:
a_centered = print(a - 5.2)

[[-4.2  0.8]
 [-3.2  2.8]
 [-2.2  5.8]
 [-2.2  4.8]
 [-4.2  1.8]]

### Задание 3

In [40]:
import numpy as np

In [41]:
c = np.array([1 ,2 ,3 ,3 ,1])

In [42]:
d = np.array([6 ,8 ,11 ,10 ,7])

In [43]:
sp = c@d

In [44]:
print(sp)

92

In [48]:
a_centered_sp = 92 
n = 5
N = n-1

In [49]:
w =a_centered_sp/N

In [50]:
print(w)

23.0

### Работа с данными в Pandas

### Задание 1

In [9]:
import pandas as pd
import numpy as np

In [52]:
a = {'author_id':'author_name','1':'Тургенев','2':'Чехов','3':'Островский'}

In [55]:
authors = pd.Series(a)

In [56]:
authors

author_id    author_name
1               Тургенев
2                  Чехов
3             Островский
dtype: object

In [62]:
import pandas as pd
import numpy as np

In [18]:
data = [[1,'Отцы и дети', 450],
       [1,'Рудин', 300],
       [1,'Дворянское гнездо',350],
       [2,'Толстый и тонкий', 500],
       [2,'Дама с собачкой',450], 
       [3,'Гроза',370],
       [3,'Таланты и поклонники',290]]

In [19]:
df = pd.DataFrame(data)

In [20]:
df

   0                     1    2
0  1           Отцы и дети  450
1  1                 Рудин  300
2  1     Дворянское гнездо  350
3  2      Толстый и тонкий  500
4  2       Дама с собачкой  450
5  3                 Гроза  370
6  3  Таланты и поклонники  290

In [21]:
book = pd.DataFrame(data,index = ['1', '1', '1', '2', '2','3', '3'],
                 columns = ['author_id','book_title','price'])

In [22]:
 book

   author_id            book_title  price
1          1           Отцы и дети    450
1          1                 Рудин    300
1          1     Дворянское гнездо    350
2          2      Толстый и тонкий    500
2          2       Дама с собачкой    450
3          3                 Гроза    370
3          3  Таланты и поклонники    290

In [23]:
b = {'author_id': [ 1, 2, 3],
    'author_name': [ 'Тургенев', 'Чехов', 'Островский']}

In [24]:
authors = pd.DataFrame(b)

In [25]:
authors

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

### Задание 2

In [63]:
authors_price = pd.merge(authors,book,on='author_id',how='inner')
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

### Задание 3

In [50]:
top5 = authors_price.nlargest(5,"price")
top5

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

### Задание 4

In [64]:
mean_price = authors_price.groupby('authors_name')

KeyError: 'authors_name'

In [60]:
groupby['price'].mean()

NameError: name 'groupby' is not defined