         Тема "Обучение с учителем"

   Задание 1
    
Импортируйте библиотеки pandas и numpy.

Загрузите "Boston House Prices dataset" из встроенных наборов данных бибилиотеки sklearn. Создайте датафреймы X и Y 
из этих данных.

Разбейте эти датасеты на тренировочные (X_train, Y_train) и тестовые (X_test, Y_test) с помощью функции train_test_split так,
чтобы размер текстовой выборки составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.
 
Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.

Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.

Вычислите R2 полученных предсказаний с помощью r2_score из модуля sklearn.metrics.

In [63]:
import warnings

warnings.filterwarnings('ignore')

In [64]:
import pandas as pd
import numpy as np

from sklearn.datasets import load_boston

In [65]:
boston = load_boston()
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [66]:
data = boston.data
data.shape

(506, 13)

In [67]:
feature_names = boston.feature_names
feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [68]:
target = boston.target
target[:13]

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
       18.9, 21.7])

In [69]:
X = pd.DataFrame(data,columns=feature_names)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [70]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [71]:
y = pd.DataFrame(target,columns = ['price'])
y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [72]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   506 non-null    float64
dtypes: float64(1)
memory usage: 4.1 KB

In [79]:
from sklearn.model_selection import train_test_split

In [80]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3, random_state = 42)

In [81]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [82]:
lr.fit(X_train,y_train)

LinearRegression()

In [83]:
y_pred = lr.predict(X_test)
y_pred.shape

(152, 1)

In [84]:
check_test = pd.DataFrame({'y_test':y_test['price'],'y_pred':y_pred.flatten()},columns = ['y_test','y_pred'])
check_test.head(13)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433
218    21.5  24.822862
9      18.9  18.530570
414     7.0  -6.865435

In [86]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.7112260057484878

        Задание 2
        
 Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.
 
 Сделайте аргумент n_estimators равным 1000, max_depth должен быть равен 12 и random_state сделайте равным 42.
 
 Обучите модель на тренировочных данных аналогично тому, как вы обучили модель LinearRegression, но при этом в метод fit вместо 
 датафрейма y_train поставьте y_train.values[:,0],чтобы получить из датафрейма одномерный массив Numpy,так как для класса
 RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.
 
 Сделайте предсказание на тестовых данных и посчитайте R2.Сравните с результатом из предыдущего задания.
 
 Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [98]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [99]:
boston = load_boston()
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [100]:
data = boston.data
data.shape

(506, 13)

In [101]:
feature_names = boston.feature_names
feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [102]:
target = boston.target
target[:13]

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
       18.9, 21.7])

In [103]:
X = pd.DataFrame(data,columns=feature_names)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [104]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [105]:
y = pd.DataFrame(target,columns = ['price'])
y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [144]:
from sklearn.ensemble import RandomForestRegressor

In [146]:
 parameters = {
    'n_estimators': [1000],
    'max_depth': 12}

In [147]:
model = RandomForestRegressor()

In [148]:
model.fit(X_train,y_train.values[:,0])

RandomForestRegressor()

In [149]:
y_pred = model.predict(X_test)
y_pred.shape

(152,)

In [150]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.8693832148664864

In [ ]:
Данная модель обучена качественнее первой ,так как 0.86 больше чем 0,71. R2 должна стремиться к 1.